.wysiwyg-editor .btn-toolbar {
  margin-left: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wysiwyg-editor .btn-toolbar .dropdown {
  position: relative;
  display: inline-block;
  float: left;
}
.wysiwyg-editor .btn-toolbar .dropdown + .dropdown {
  margin-left: 0.5rem;
}
.wysiwyg-editor .btn-toolbar .dropdown > .btn {
  padding: 5px 10px;
  text-align: center;
  min-width: 34px;
}
.wysiwyg-editor .btn-toolbar .btn-group {
  margin-left: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.wysiwyg-editor .btn-toolbar .btn-group + .btn-group {
  margin-left: 0;
}
.wysiwyg-editor .btn-toolbar .btn-group:last-child {
  margin-right: 0;
}
.wysiwyg-editor .btn-toolbar .btn-group > .btn {
  padding: 5px 10px;
  text-align: center;
  min-width: 34px;
}
.wysiwyg-editor .editor-content {
  min-height: 120px;
  padding: 15px;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px 4px 0px 0px;
}
.wysiwyg-editor .editor-content.source-mode {
  white-space: pre;
}
.wysiwyg-editor .editor-statusbar {
  padding: 5px 8px;
  margin-bottom: 0px;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  min-height: 1rem;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}
